<section class="section" id="skills">
    <h2 class="section-title">Experience</h2>
    <div class="experience__container bd-grid">
        <div class="company-name">
            @for (company of companies; track companies ) {
                <span [ngClass]="{'active' : selectedCompany == company}" (click)="selectedCompany = company">{{company}}</span>
            }
        </div>
        <div class="company-details">
            <div class="details">
                <div class="title">{{companyExperience[selectedCompany].position}}</div>
                <div class="date">{{companyExperience[selectedCompany].duration}}</div>
            </div>
            <div class="responsibilities">
                <ul>
                    @for (responsibility of companyExperience[selectedCompany].responsibilities; track responsibility ) {
                        <li>{{responsibility}}</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>