<section class="work section" id="work">
    <h2 class="section-title">Projects</h2>
    <div class="work__container bd-grid">
        @for(work of works; track work){
            <mat-card>
              <app-carousel [showNavigationIndicators]="true" [images]="work.images"></app-carousel>
                <mat-card-header>
                    <mat-card-title>{{work.projectName}}</mat-card-title>
                  </mat-card-header>
                <mat-card-content>
                  <p>{{work.description}}</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-stroked-button (click)="openProjectDetails(work)">READ MORE</button>
                </mat-card-actions>
            </mat-card>
        }  
    </div>
</section>