<section class="about section " id="about"  animation="fadeInUp" delay="10" duration="1500" triggerOnce="true">
    <h2 class="section-title">About</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="assets/images/karan.jpg" alt="">
        </div>

        <div>
            <h2 class="about__subtitle">I'am Karan</h2>
            <p class="about__text">With <span class='underline'>4 years of experience as a developer</span>, I have
                expertise in building complex and technological solutions to enhance the web experience. I am
                proficient in a range of technologies such as <span class='underline'> Angular,</span>&nbsp;<span
                    class='underline'> NodeJS,</span>&nbsp;<span class='underline'>ExpressJS,</span>&nbsp;<span
                    class='underline'>MySql,</span>&nbsp;<span class='underline'>Postgres,</span>&nbsp;<span
                    class='underline'>MongoDB,</span>&nbsp;<span class='underline'>GIT,</span>&nbsp;<span
                    class='underline'>Selenium - Webdriver for automation,</span>&nbsp;<span
                    class='underline'>NestJs,</span>&nbsp;<span class='underline'>Microsoft Azure,</span>&nbsp;<span
                    class='underline'>Flutter,</span>&nbsp;<span class='underline'>DSA,</span>&nbsp;<span
                    class='underline'>EJS</span>&nbsp; and &nbsp;<span class='underline'>HBS.</span> I have worked
                on diverse projects, including <span class='underline'>Educational,</span>&nbsp;<span
                    class='underline'>E-commerce,</span>&nbsp;<span class='underline'>Interview
                    panel,</span>&nbsp;<span class='underline'>Freelancing web-site,</span>&nbsp;and&nbsp;<span
                    class='underline'>Healthcare apps.</span> I am committed to staying up-to-date with the latest
                technologies and trends in the industry. My aim is to deliver high-quality and user-friendly
                software solutions to my clients.</p>
        </div>
    </div>
</section>