<section class="about section " id="about"  animation="fadeInUp" delay="10" duration="1500" triggerOnce="true">
    <h2 class="section-title">About</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="assets/images/karan.jpg" alt="">
        </div>

        <div>
            <h2 class="about__subtitle">I'am Karan</h2>
            <p class="about__text">With <span class='underline'>{{experience}} years of experience as a developer</span>, I have
                expertise in building complex and technological solutions to enhance the web experience. I am
                proficient in a range of technologies such as @for (technology of technologies; track technology; let i = $index) { <span class='underline'> {{technology}}{{i == technologies.length - 2 ? '' : i == technologies.length - 1 ? '.' : ','}}</span>&nbsp;{{i == technologies.length - 2 ? ' and' : ''}} }
                I have worked on diverse projects, including @for (project of projects; track project; let i = $index) { <span class='underline'> {{project}}{{i == projects.length - 2 ? '' : i == projects.length - 1 ? '.' : ','}}</span>&nbsp;{{i == projects.length - 2 ? ' and' : ''}} } I am committed to staying up-to-date with the latest
                technologies and trends in the industry. My aim is to deliver high-quality and user-friendly
                software solutions to my clients.</p>
        </div>
    </div>
</section>