<nav>
    <div class="bd-grid">
        <ul>
            <li><a (click)="scrollService.scrollToElementById('home')">K.D</a></li>
            <li class="hideOnMobile underline"><a (click)="scrollService.scrollToElementById('home')">Home</a></li>
            <li class="hideOnMobile underline"><a (click)="scrollService.scrollToElementById('about')">About</a></li>
            <li class="hideOnMobile underline"><a (click)="scrollService.scrollToElementById('skills')">Skills</a></li>
            <li class="hideOnMobile underline"><a (click)="scrollService.scrollToElementById('experience')">Experience</a></li>
            <li class="hideOnMobile underline"><a (click)="scrollService.scrollToElementById('work')">Work</a></li>
            <li class="hideOnMobile underline"><a (click)="scrollService.scrollToElementById('contact')">Contact</a></li>
            <li class="menu-btn" (click)="changeSidebarStatus()"><a><i class='bx bx-menu'></i></a></li>
        </ul>
        <ul class="sidebar" [ngStyle]="isSidebarVisible ? {display:'flex'} : {display:'none'}">
            <li (click)="changeSidebarStatus()"><a><i class='bx bx-x'></i></a></li>
            <li><a (click)="scrollService.scrollToElementById('home')">Home</a></li>
            <li><a (click)="scrollService.scrollToElementById('about')">About</a></li>
            <li><a (click)="scrollService.scrollToElementById('skills')">Skills</a></li>
            <li><a (click)="scrollService.scrollToElementById('experience')">Experience</a></li>
            <li><a (click)="scrollService.scrollToElementById('work')">Work</a></li>
            <li><a (click)="scrollService.scrollToElementById('contact')">Contact</a></li>
        </ul>
    </div>
</nav>