<nav>
    <div class="bd-grid">
        <ul>
            <li><a href="#home">K.D</a></li>
            <li class="hideOnMobile underline"><a href="#home">Home</a></li>
            <li class="hideOnMobile underline"><a href="#about">About</a></li>
            <li class="hideOnMobile underline"><a href="#skills">Skills</a></li>
            <li class="hideOnMobile underline"><a href="#contact">Experience</a></li>
            <li class="hideOnMobile underline"><a href="#work">Work</a></li>
            <li class="hideOnMobile underline"><a href="#contact">Contact</a></li>
            <li class="menu-btn" (click)="changeSidebarStatus()"><a><i class='bx bx-menu'></i></a></li>
        </ul>
        <ul class="sidebar" [ngStyle]="isSidebarVisible ? {display:'flex'} : {display:'none'}">
            <li (click)="changeSidebarStatus()"><a><i class='bx bx-x'></i></a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Experience</a></li>
            <li><a href="#work">Work</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>