<section class="skills section" id="skills">
    <h2 class="section-title">Skills</h2>

    <div class="skills__container bd-grid">
        <div>
            <h2 class="skills__subtitle">Profesional Skills</h2>
            <p class="skills__text">I showcase my proficiency in various technologies and tools essential for web development and software engineering. With hands-on experience and expertise in these areas, I bring valuable skills to any project or team. Explore below to learn more about my capabilities.</p>
            <div class="skill-container">
                @for (skill of skills; track skill ) {
                <div class="skill">{{skill}}</div>
                }
            </div>
        </div>

        <div>
            <img src="assets/img/work3.jpg" alt="" class="skills__img">
        </div>
    </div>
</section>