.experience__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: start;
    text-align: initial;
}
.skill-container {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skill:hover {
    background-color: var(--first-color);
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
}