<footer class="footer">
    <!-- <p class="footer__title">Karan Duggal</p> -->
    <div class="footer__social">
        <!-- <a href="https://www.instagram.com/duggalkaran400/" target="_blank" class="footer__icon"><i class='bx bxl-leetcode'></i></a> -->
        <a href="https://www.instagram.com/duggalkaran400/" target="_blank" class="footer__icon"><i class='bx bxl-instagram'></i></a>
        <a href="https://www.linkedin.com/in/karan-duggal/" target="_blank" class="footer__icon"><i class='bx bxl-linkedin'></i></a>
        <a href="https://github.com/KaranDuggal" target="_blank" class="footer__icon"><i class='bx bxl-github'></i></a>
    </div>
    <p class="footer__copy">&#169; Karan Duggal. All rigths reserved</p>
</footer>